@tailwind base;
@tailwind components;
@tailwind utilities;

/* public/css/styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#lockScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
}

.lock-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.lock-container h2 {
    margin-bottom: 20px;
}

.lock-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lock-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.lock-container button:hover {
    background-color: #45a049;
}

#errorMessage {
    color: red;
    margin-top: 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 2px;
}

section span {
    display: block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
}
